# Skip the menu and the "Loading..." text
TIMEOUT=0
QUIET=yes

# This is critical: Tell Limine NOT to clear the screen
# It will leave the manufacturer's logo in the framebuffer
GRAPHICS_WALPAPER=none

:Opaque sheep os
    PROTOCOL=limine
    KERNEL_PATH=boot:///kernel.elf
    MODULE_PATH=boot:///ramdisk.img
    # Ensure your kernel doesn't print and overwrite the logo
    KERNEL_CMDLINE=quiet
